{{ define "main" }}
  <!-- {{ $section := .Site.GetPage "section" .Section }} -->
  <article class="flex-l flex-wrap justify-between mw8 center pa3 pa4-ns">
    <header class="mt4 w-100">
          {{ $elements := index (split .CurrentSection "/") }}
          {{ $section := index $elements (sub (len $elements) 2) }}
          {{ if ne .Section $section }}
            <aside class="instapaper_ignoref b helvetica tracked">
              {{with .Section }}
                  /{{ . | upper }}
              {{end}}
            </aside>
            {{ partial "social-share.html" . }}
            <h1 class="f1 athelas mt3 mb1">
              {{- .Title -}}
            </h1>
            {{ with .Params.author | default .Site.Params.author }}
            <p class="tracked">
              {{ $.Render "by" }} <strong>
              {{- if reflect.IsSlice . -}}
                  {{ delimit . ", " | markdownify }}
              {{- else -}}
                  {{ . | markdownify }}
              {{- end -}}
              </strong>
            </p>
            {{ end }}
          {{ end }}
    </header>

      <div class="nested-copy-line-height lh-copy f4 nested-links {{ $.Param "text_color" | default "mid-gray" }} {{ cond (eq $.Site.Language.LanguageDirection "rtl") "pl4-l" "pr4-l" }} w-100">
      {{- .Content -}}
    </div>

    <aside class="w-30-l mt6-l">
      {{- partial "menu-contextual.html" . -}}
    </aside>

  {{ if not .Params.no_list }}
  </article>
  <article class="pa3 pa4-ns nested-copy-line-height">
    {{- template "_internal/pagination.html" . -}}
    <section class="flex-ns flex-wrap justify-around mt5">
      {{ range .Paginator.Pages }}
        <div class="relative w-100 w-30-l mb4 bg-grey">
          {{ .Render "summary" }}
        </div>
      {{ end }}
    </section>
    {{- template "_internal/pagination.html" . -}}

  </article>
  {{ end }}
{{ end }}
