<div class="relative w-100 mb4 ba br4 bg-white nested-copy-line-height">
  <div class="bg-white mb3 pa4 br4 gray overflow-hidden">
    {{with .CurrentSection.Title }}<span class="f6 db">{{ . }}</span>{{end}}
    <h1 class="f3 near-black">
      <a href="{{ .RelPermalink }}" class="link black dim">
        {{ .Title }}
      </a>
    </h1>
    <div class="nested-links f5 lh-copy nested-copy-line-height">
      {{ .Summary }}
    </div>
  </div>
</div>
