img {
    max-height: 500px;
}

/* MENU */

.list {
  padding: 0px;
}
.dropdown {
  display: inline-block;
  position: relative;
  padding: 12px 16px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: none;
  width: max-content;
  padding: 12px 0px;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  background-color: #000000aa;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #00000033;}
.dropdown:hover {background-color: #00000033;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

