<footer class="{{ .Site.Params.background_color_class | default "bg-black" }} bottom-0 w-100 pa3" role="contentinfo">
  <div class="flex justify-between white-70">
  <a class="f4 fw4 hover-white no-underline white-70 dn dib-ns pv2 ph3" href="{{ .Site.BaseURL }}" >
    &copy; {{ with .Site.Copyright | default .Site.Title }} {{ . | safeHTML }} {{ now.Format "2006"}} {{ end }}
  </a>
    <div>
        {{ partial "social-follow.html" . }}
	</div>
  </div>
  <hr>
  <div class="flex justify-between white-70" style="text-decoration:none">    
    <div></div>
    <div></div>
    <div style="text-align: center;">
		<style>
           a { text-decoration: none; }
        </style>
        <h4>[SchoolStuff]</h4>
		<a href="{{ .Site.BaseURL }}" class="white-60">                   Home</a><br><br>
		<a href="{{ .Site.BaseURL }}/blog" class="white-60">              Blog</a><br><br>
		<a href="{{ .Site.BaseURL }}/about" class="white-60">             About</a><br><br>
		<a href="{{ .Site.BaseURL }}/datenschutz" class="white-60">       Datenschutz</a><br><br>
		<a href="https://gitlab.com/schoolstuff404/schoolstuff/-/blob/main/LICENSE" class="white-60">LICENSE</a><br><br>
    </div>
    <div style="text-align: center;">
        <h4>[Socials]</h4>
		<a href="https://gitlab.com/schoolstuff-ch/" class="white-60">Gitlab</a><br><br>
    </div>
    <div style="text-align: center;">
        <h4>[External]</h4>
		<a href="https://www.lehrplan21.ch/kantone" class="white-60">Lehrplan 21</a><br><br>
		<a href="https://fsf.org" class="white-60">FSF</a><br><br>
	  </div>
    <div></div>
    <div></div>
  </div>
  <hr>
  <div class="flex justify-between center white-70">    
    <div>
        © This website and its content are licensed under the terms of either the GNU GPL v3 or CC BY-SA 4.0. 2024
    </div>
  </div>
</footer>
