<nav class="pv3 ph3 ph4-ns" role="navigation">
  <div class="flex-l justify-between items-center center">
    <a href="{{ .Site.Home.RelPermalink }}" class="f3 fw2 hover-white no-underline white-90 dib">
      {{ with .Site.Params.site_logo }}
        <img src="{{ relURL . }}" class="w100 mw5-ns" alt="{{ $.Site.Title }}" />
      {{ else }}
        {{ .Site.Title }}
      {{ end }}
    </a>
    <div class="flex-l items-center">
      {{ partial "i18nlist.html" . }}
      {{ if .Site.Menus.main }}
        <ul class="{{ cond (eq $.Site.Language.LanguageDirection "rtl") "pr0 ml3" "pl0 mr3" }}">
          {{ range .Site.Menus.main }}
          <li class="list f5 f4-ns fw4 dib {{ cond (eq $.Site.Language.LanguageDirection "rtl") "pl3" "pr3" }}">
            <div class="dropdown">
                <a class="hover-white no-underline white-90" href="{{ .URL }}" title="{{ .Title }}">
                  {{ .Name }}
                </a>
                <div class="dropdown-content">
                    {{- if .HasChildren -}}
	                    {{ range .Children }}
                            <a class="hover-white no-underline white-90" href="{{ .URL }}" title="{{ .Title }}">
                              {{ .Name }}
                            </a>
	                    {{ end }}
                    {{ end }}
                </div>
            </div>
          </li>
          {{ end }}
        </ul>
      {{ end }}
      {{ partialCached "social-follow.html" . }}
    </div>
  </div>
</nav>
