<header>
<nav class="pv3 ph3 ph4-ns" role="navigation">
  <div class="flex-l justify-between items-center center">
    <div></div>
    <div class="flex-l items-center">
        <ul class="{{ cond (eq $.Site.Language.LanguageDirection "rtl") "pr0 ml3" "pl0 mr3" }}">
          <li class="list f5 f4-ns fw4 dib {{ cond (eq $.Site.Language.LanguageDirection "rtl") "pl3" "pr3" }}">
				  {{ .Inner }}
          </li>
    	</div>
		</ul>
	</div>
	<div></div>
  </div>
</nav>
{{ range .Site.RegularPagesRecursive }}
		{{ .Title }}
{{ end }}
</header>
