{{ $url := .Get 0 }}
{{ $title := .Get 1 }}

<center>
<iframe 
    width="464" height="348" 
    src="{{ $url }}" 
    title="{{ $title }}" 
    frameborder="0" 
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
</iframe>
</center>
