{{ $license := upper (.Get 0) }}
{{ .Scratch.Set "url" "" }}

{{ if eq $license "MIT" }}
    {{ .Scratch.Set "url" "https://choosealicense.com/licenses/mit/" }}
{{ else if eq $license "UNLICENSE" }}
    {{ .Scratch.Set "url" "https://choosealicense.com/licenses/unlicense/" }}
{{ else if eq $license "GNU GPLV3" }}
    {{ .Scratch.Set "url" "https://choosealicense.com/licenses/gpl-3.0/" }}
{{ else if eq $license "BSD 3" }}
    {{ .Scratch.Set "url" "https://opensource.org/license/bsd-3-clause" }}
{{ else }}
    {{ .Scratch.Set "url" "" }}
{{ end }}

{{ if eq ( .Scratch.Get "url" ) "" }}
    <sup><small><b>
        &copy; {{ $license }}
    </b></small></sup>
{{ else }}
    <a href="{{ .Scratch.Get "url" }}">
        <sup><small><b>
            &copy; {{ $license }}
        </b></small></sup>
    </a>
{{ end }}
